<header>
  <h2>Tour List</h2>
</header>
<section>
  <%= render 'form' %>
</section>

<section>
  <header>
    <h3>Your Tours</h3>
  </header>

  <div class="list-group">
    <% @tours.each do |tour| %>
      <div class="panel panel-default">
        <div class="panel-body clearfix">
          <span class="pull-right">
            <%= link_to edit_admin_tour_path(tour), class: "btn btn-info btn-xs" do %>
              <i class="mdi-editor-mode-edit"></i>
            <% end %>

            <%= link_to admin_tour_path(tour), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: 'Are you sure you want to delete this tour?'} do %>
              <i class="mdi-action-delete"></i>
            <% end %>
          </span>

          <h3><%= tour.title %></h3>
        </div>
      </div>
    <% end %>
  </div>

</section>
