<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 exhibitCont">
      <h2>{{tour.title}}</h2>
    </div>
  </div>
  <div ng-repeat="exhibit in exhibits">
  <div class="col-xs-6 col-sm-6 col-md-3 exhibits">
      <a href="tour/{{tour.id}}/exhibit/{{exhibit.id}}" class="thumbnail">
        <img ng-src='{{exhibit.image}}' alt="{{exhibit.title}}" >
        <div class="caption">
          <h5>
            <b>{{exhibit.exNum}}</b> | {{exhibit.artist}}. <br />
            <em>{{exhibit.title}}</em>. {{exhibit.year}}
          </h5>

        </div>
      </a>
    </div>
  </div>
</div>
