<div class="container"
      ng-swipe-right="downEx()"
      ng-swipe-left="upEx()">
  <a class="btn btn-primary" href="tour/{{tourID}}"><i class="mdi-navigation-arrow-back"></i></a>
  <div ng-animate class="col-xs-10 col-xs-offset-1 col-md-3">
    <img ng-src={{exhibit.image}} alt="{{exhibit.exhibit}}">

    <div class="panel panel-default exDisc">
      <div class="panel-body">
        {{exhibit.exNum}} | {{tour.title}} <br />
        <b>{{exhibit.artist}}</b> <br />
        {{exhibit.title}}
      </div>
    </div>
  </div>
</div>


<footer class="footer" data-ng-init="init()">
  <div class="container">
    <div plangular="http://soundcloud.com/gary-grumbley/{{exhibit.audio}}"
    class="audioPlayer">

      <button class="playBtn" ng-click="playPause()" >
        <i ng-if="player.playing !== track.src" class="mdi-av-play-arrow mdi-material-teal"></i>
        <i ng-if="player.playing === track.src" class="mdi-av-pause mdi-material-teal"></i>
      </button>
      <div class="data pull-right">
        <samp class="pull-left">{{ currentTime | hhmmss }}</samp>
        <progress
          class="pull-right"
          ng-click="seek($event)"
          ng-value="currentTime / duration">
          {{ currentTime / duration }}
        </progress>
      </div>
    </div>
  </div>
</footer>
