<h4>Audio Test</h4>
<div ng-controller="AudioCtrl as ctrl" class="videogular-container">
  <videogular vm-theme="ctrl.config.theme.url" class="videogular-container audio">
    <vg-media vg-src="ctrl.config.sources" vg-type="audio"></vg-media>

    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
      </vg-volume>
    </vg-controls>
  </videogular>
</div>
