@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.output {
  background: black;
  color: lime;
  font-size: 40px;
  text-align: right;
  width: 100%;
  height: 60px;
  padding-right: 10px ;
}


.keyPad {
  width: 100%;
  height: 200px;
  background: grey;
  margin-top: 10px;
  padding: 10px;
  padding: 25px;
}

a.thumbnail:hover {
  text-decoration: none;
}
.homeTours h4 {
  margin: 0;
}

.exhibits h5 {
  margin: 0;
}
img {
  width: 100%;
  height:auto;
}
div.exDisc {
  margin-top: 20px;
}

// .audioPlayer {
//   width: 100%;
//   position: fixed;
//   bottom: 0px;
//   left: 0px;
// }
//
// .playBtn i {
//   font-size: 40pt;
// }
//
// .playBtn {
//   background-color: inherit;
//   border: 0;
// }
// .data {
//   display: inline-block;
//   width:75%;
//   margin-right:20px;
//   margin-top: 22px;
// }
progress {
  width: 80%
}
